<h2><%= t('views.notes.delete.title') %></h2>

<div id="delete-note" class="content">
  <%= t('views.notes.delete.confirmation', notes_id: @found_notes.join(', ')).html_safe %>
  <div class="choice_box">
    <%= link_to t('views.notes.delete.approval'), note_path(@found_notes.to_json), method: :delete, class: 'approval' %>
    <%= link_to t('views.notes.delete.refusal'), @note, class: 'refusal' %>
  </div>
</div>